table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;   
}

th {
    background-color: lightslategrey;
    font-size: 150%;
    color: white;
}

table {
    border-spacing: 5px;
    font-size: 150%;
    text-align: centre;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

img {
    height: 200px;
    padding: 0px;
}